PORT =
DATABASE_URL =

CLIENT_URL =
NODE_ENV = development

JWT_SECRET =
JWT_EXPIRATION =

SMTP_SERVICE=gmail
SMTP_MAIL=yourmail@gmail.com
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=

CLOUD_NAME =  
API_KEY =  
API_SECRET =  